body {
    margin: 0;
    padding: 0;

}

.container {
    position: relative;
    display: flex;
    /* top: 10px; */
    left: 80px;
    width: 50%;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(179, 183, 183);
    background-color: rgb(179, 183, 183);
    margin-left: 380px;
    min-height: 99.5vh;
}

.main {
    position: sticky;
    width: 90%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.name {
    text-align: center;
    text-shadow: 0.5px 0 0px whitesmoke;
    font-size: 20px;


}

.name h3 {
    margin-top: -25px;
    margin-bottom: 40px;
    margin-left: 150px
}

.heading {
    text-decoration: underline;
    background: linear-gradient(gray, rgb(45, 44, 44), gray);
    border-radius: 10px;
    color: aliceblue;
    font-size: 18px;
    text-decoration-color: black;

}

.objpara {
    font-size: 18px
}

.para {
    font-size: 18px;
}

.para i {
    margin-left: -40px;

}

.infopara ul {
    font-size: 18px
}

.infopara a {
    margin-left: 10px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.infopara a:hover {
    text-decoration: underline;
    color: rgb(10, 18, 238);
}

@media only screen and (max-width:1600px){
    .container{
        margin-left: 350px;
    }
}
@media only screen and (max-width:1440px){
    .container{
    margin-left: 300px;
}
}



@media only screen and (max-width:1350px) {
   

    .heading {
        font-size: 16px;
    }
}

@media only screen and (max-width:1350px){
    .container{
        margin-left: 250px ;
    }
}
@media only screen and (max-width:1250px){
    .container{
        margin-left: 230px ;
    }
}

@media only screen and (max-width:1100px){
    .container{
        /* left: 0px ; */
        width: 100%;
        margin-left: -80px;
        min-height: 99.5vh;

    }
}

 
@media only screen and (max-width:989px) {
    .name h1{
        font-size: 35px;

    }
    .name h3{
        font-size: 23px ;
    }
    .heading{
        font-size: 15px;
    }
}

@media only screen and (max-width:935px) {
    
    .name h3{
        margin-left: 120px;
    }
}

@media only screen and (max-width:860px){
   
    .heading{
        font-size: 12px ;
    }
    .name h1{
        font-size: 25px;

    }
    .name h3{
        font-size: 17px;
    }
}


@media only screen and (max-width:768px){
    .container{
        /* left: 0px ; */
        width: 100%;
        margin-left: -80px;
        min-height: 99.5vh;

    }

    .objpara{
        font-size: 13px;
    }
    .infopara ul{
        font-size: 13px;
        padding: 10px;
    }
    .para{
        padding-left: 20px;
        font-size: 13px;
    }
    .heading{
        margin-left: 0px;
    }
    
} 